<div>
  <p>This site was created to provide a place to share favorite recipes. </p>
  <p>Any questions or comments regarding the site should be directed to our <a href="mailto:amber@ocularcandy.biz?Subject=Whats%20For%20Dinner?" target="_top">webmaster</a>.</p>
</div>

