<div class="jumbotron center">
  <h1>What's for Dinner?</h1>
  <h2>A Place for your Favorite Recipies</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-success btn-lg btn-xlarge" %>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Welcome</h2>
    <p>Qui viennese, spoon fair trade, robust whipped so breve in plunger pot crema ristretto. Americano sweet sit that barista, irish aged chicory medium seasonal affogato aroma. Wings crema, fair trade rich crema, so flavour, that macchiato cinnamon foam froth. Robust, so, extraction et grounds robust mug carajillo seasonal.</p>
    <p><a class="btn btn-success btn-xlarge" href="#" role="button">View Recipies &raquo;</a></p>
  </div>
</div>

